{% block content %}

<div class="row">
<div class="three columns">

    <div class="profile-picture-box">
        <div id="profile-picture">
        {% include 'picture.html' %}
        </div>
        <br /><br />
    </div>

</div>

<div class="six columns">
    <div class="profile-details-box">
        <h3>
            <span id="first_name">
                <span id="first_name_text">{{ user.first_name }}</span>
            </span>
            <span id="last_name">
                <span id="last_name_text">{{ user.last_name }}</span>
            </span>
        </h3>

        <span id="headline" class="subheader">
            <p class="subheader " id="headline_text">{% if user.headline %}{{ user.headline }}{% end %}</p>
        </span>

        {% if user.bio %}
        <h4 class="left">Summary &nbsp;</h4>
        <div id="bio" class="clear">
            <p class="light">{% apply linkify %}{{ user.bio }}{% end %}</p>
        </div>
        <hr class="space" />
        {% end %}

        {% if user.contact %}
        <h4 class="left">Contact &nbsp;</h4>
        <div id="contact" class="clear">
            <p class="light " id="contact_text">{% apply linkify %}{{ user.contact }}{% end %}</p>
        </div>
        <hr class="space" />
        {% end %}

        {% if user.other_sites %}
        <h4 class="left">I am on other sites &nbsp;</h4>
        <div id="other_sites" class="clear">
            <p class="light " id="other_sites_text">{% apply linkify %}{{ user.other_sites }}{% end %}</p>
        </div>
        <hr class="space" />
        {% end %}

    </div>

</div>
</div>

{% end %}