{% extends 'base.html' %}

{% block meta_description %}LetoLab is a startup consulancy and project development copmany{% end %}
{% block meta_keywords %}services, startup, consultancy, project development{% end %}

{% block content %}
<div class="row">
	<div class="span10">
		<h2>Services we provide</h2>
		<p>We focus on startups, helping them with both consulting and development. 
			Check our services page for more informatio
			on how we can help you.
		</p>
		<h2>Contact us</h2>
		<p><a href="/">Drop us a line</a> if you want more information on our services, or if you have 
			more questions.
		</p>
	</div>
</div>
{% end %}
